$background-color = #f6f3f0
$color = #333

$nav-background-color = #32363c
$nav-border-color = $nav-background-color - 30%
$nav-border = .1rem solid $nav-border-color
$nav-color = #fff
$nav-font-family = 'DejaVu Sans', sans-serif

$nav-item-background-color = $nav-background-color
$nav-item-color = $nav-color - 30%
$nav-item-hover-background-color = $nav-background-color - 20%
$nav-item-hover-color = $nav-color
$nav-item-active-background-color = $nav-background-color - 10%
$nav-item-active-color = $nav-color

$tablist-item-color = #999
$tablist-item-hover-color = #3c3
$tablist-item-active-color = #3c3

$header-background-color = alpha(#fff, .4)
$header-color = #333
$header-box-shadow = 0 0 .2rem alpha($background-color - 30%, .2)

$header-color = #999
$header-hover-color = #3c3

$header-comments-icon = url(/assets/comments-regular.svg)
$header-comments-color = $header-color
$header-comments-hover-icon = url(/assets/comments-solid.svg)
$header-comments-hover-color = $header-hover-color

$header-bell-icon = url(/assets/bell-regular.svg)
$header-bell-color = $header-color
$header-bell-hover-icon = url(/assets/bell-solid.svg)
$header-bell-hover-color = $header-hover-color

$table-border = .1rem solid #ccc
$table-header-background = #999 linear-gradient(#eee, #e0e0e0)
$table-header-color = #333
$table-header-font-family = 'DejaVu Sans', sans-serif
$table-cell-padding = 1rem 1.5rem